.idea
.ipynb_checkpoints/
**/.DS_Store
.python-version
Pipfile.lock
*.d
lib/bert_classification/single_task/ner-newsagency-bert-fr/
lib/bert_classification/single_task/ner-newsagency-bert-de/
*.pyc
*.pyc
lib/bert_classification/agency-de/
lib/bert_classification/agency-fr/
